body {
    padding-bottom: 50px;
}

img { display: block; }

@media screen and (max-width: 600px) {
    .img-max-mobile {
        margin: 10px auto;
        width: 50%;
    }

}

.nav .nav-wrapper {
    display: flex;
    align-items: center;
}

.main-container {
    padding-top: 20px;
}

/* cor do modal datePicker */
.picker__date-display {
  background-color: #D50000;
}
.picker__weekday-display {
  background-color: #D50000;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  background-color: #D50000;
}

/* botao para fechar input de genero personalizado */
#custom-gender {
    position: relative;
}

#custom-gender .close {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 20px;
}

/* hack corrigir carousel */
.tab-menu {
    margin-bottom: 20px;
}

.tabs a.active {
    background-color: #d50000 !important;
}

.tabs tab:not(:last-child) {
    padding-right: 5px;
}

.tabs tab:not(:first-child) {
    padding-left: 5px;
}

.anamnese .anamnese__group {
    padding: 10px 20px;
}

.section-title {
    padding-top: 15px;
    padding-bottom: 15px;
}
